<div class="as-search-wrapper" role="main">
  <div class="as-navtuck-wrapper">
    <div class="as-l-fullwidth as-navtuck" data-events="event52">
      <div>
        <div class="pd-billboard pd-category-header">
          <div class="pd-l-plate-scale">
            <div class="pd-billboard-background">
              <img src="./assets/images/music-audio-alp-201709" alt="" width="1440" height="320"
                data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306"
                class="pd-billboard-hero ir" />
            </div>
            <div class="pd-billboard-info">
              <h1 class="pd-billboard-header pd-util-compact-small-18">Tienda
                e-commerce</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">

    <div id="accessories-tab" class="as-accessories-details">
      <div class="as-accessories" id="as-accessories">
        <div class="as-accessories-header">
          <div class="as-search-results-count">
            <span class="as-search-results-value"></span>
          </div>
        </div>
        <div class="as-searchnav-placeholder" style="height: 77px;">
          <div class="row as-search-navbar" id="as-search-navbar" style="width: auto;">
            <div class="as-accessories-filter-tile column large-6 small-3">

              <button class="as-filter-button" aria-expanded="true" aria-controls="as-search-filters" type="button">
                <h2 class="as-filter-button-text">
                  Smartphones
                </h2>
              </button>

            </div>

          </div>
        </div>
        <div class="as-accessories-results as-search-desktop">
          <div class="column as-search-filters" aria-hidden="false" id="as-search-filters" style="position: relative;">

            <div class="as-search-filter-container" style="transform: translate3d(0px, 0px, 0px);">
              <ul class="as-accordion-list">
                <li class="as-accordion-item">
                  <div id="facet0" class="as-search-facet iPad Compatibility as-search-facet-expandable">
                    <div class="as-accordion-header as-search-accordion-header as-accordion-isexpanded"
                      data-ase-materializer="as-accordion-id0" data-ase-click="toggle">
                      <button id="as-accordion-header-button0" class="as-accordion-button"
                        aria-controls="as-accordion-id0" aria-expanded="true" aria-labelledby="as-accordion-label-id0">
                        <span id="as-accordion-label-id0" class="as-accordion-title">
                          <span class="as-search-accordion-title">Marca</span>
                        </span>
                        <span class="icon icon-plus as-accordion-plusicon">
                          <span class="a11y">Marca</span>
                        </span>
                      </button>
                    </div>
                    <materializer data-uid="as-accordion-id0" id="as-accordion-id0" data-show-height="computed"
                      data-hide-height="0" class="as-search-facet-materializer ase-materializer ase-materializer-show"
                      data-shown-init="true" style="">
                      <div class="as-accordion-content">
                        <ul class="as-search-filter-items as-filter-text-type">
                          {{#each marcas}}
                          <li class="as-filter-item">
                            {{#ifeq ../precios true }}
                              <a href="/buscar?marca={{this}}&precio_desde={{../precio_desde}}&precio_hasta={{../precio_hasta}}" class="as-filter-option" aria-disabled="false" tabindex="0"
                                  data-tracking="ipadCompatibility=ipadpro_12_9_2, " role="checkbox" aria-checked="false">
                            
                            {{else}}
                               <a href="/buscar?marca={{this}}" class="as-filter-option" aria-disabled="false" tabindex="0"
                                  data-tracking="ipadCompatibility=ipadpro_12_9_2, " role="checkbox" aria-checked="false">
                            {{/ifeq}}

                              <span class="as-filter-name">
                                <span class="as-search-filter-content">
                                  <span class="as-search-filter-text" {{#ifeq this ../marca }} style="color: blue;"
                                    {{/ifeq}}>
                                    {{this}}
                                  </span>
                                </span>
                              </span>
                            </a>
                          </li>
                          {{/each}}

                          <li class="as-filter-item">
                            <a href="/" class="as-filter-option" aria-disabled="false" tabindex="0"
                              data-tracking="ipadCompatibility=ipadpro_12_9_2, " role="checkbox" aria-checked="false">

                              <span class="as-filter-name">
                                <span class="as-search-filter-content">
                                  <span class="as-search-filter-text" {{#ifeq marca "" }} style="color: blue;"
                                    {{/ifeq}}>
                                    Todas
                                  </span>
                                </span>
                              </span>
                            </a>
                          </li>

                        </ul>

                      </div>
                    </materializer>
                  </div>
                </li>
                <li class="as-accordion-item">
                  <div id="facet1" class="as-search-facet iPhone Compatibility as-search-facet-expandable">
                    <div class="as-accordion-header as-search-accordion-header" data-ase-materializer="as-accordion-id1"
                      data-ase-click="toggle">
                      <button id="as-accordion-header-button1" class="as-accordion-button"
                        aria-controls="as-accordion-id1" aria-expanded="false" aria-labelledby="as-accordion-label-id1">
                        <span id="as-accordion-label-id1" class="as-accordion-title">
                          <span class="as-search-accordion-title">Precio</span>
                        </span>
                        <span class="icon icon-plus as-accordion-plusicon">
                          <span class="a11y">Precio</span>
                        </span>
                      </button>
                        <form action="/buscar" method="post" id="form-precio" {{#ifeq precios false }} hidden="true"{{/ifeq}}>
                          <label for="precio-desde" style="font-size: small;">Desde:</label>
                          <input type="number" name="precio_desde" id="precio-desde" required {{#ifeq precios true }} value="{{precio_desde}}" {{/ifeq}}> 
                          <label for="precio-hasta" style="font-size: small;">Hasta:</label>
                          <input type="number" name="precio_hasta" id="precio-hasta" required  {{#ifeq precios true }} value="{{precio_hasta}}" {{/ifeq}}>
                          <input type="text" name="marca" id="marca"  hidden="true" value="{{marca}}" >
                          <input type="submit" value="Buscar">        
                        </form>
                    </div>
                  </div>
                </li>
                <li class="as-accordion-item">
                  <div id="facet2" class="as-search-facet iPod Compatibility">
                    <div class="as-accordion-header as-search-accordion-header" data-ase-materializer="as-accordion-id2"
                      data-ase-click="toggle">

                    </div>

                  </div>
                </li>

              </ul>
            </div>

          </div>
          <div class="column small-12 as-search-results-tiles as-search-results-width">

            {{#each phones}}
            <div class="as-producttile large-4 small-6 group-1">
              <div class="as-producttile-tilehero with-paddlenav with-paddlenav-onhover">

                <div class="images mini-gallery gal1">

                  <div class="as-isdesktop with-paddlenav with-paddlenav-onhover">

                    <div class="as-tilegallery-element as-image-selected">
                      <div class=""></div>
                      <img src="{{local_imagen}}" class="ir ir item-image as-producttile-image" alt=""
                        data-desc={{nombre}} style="content:-webkit-image-set(url({{url_imagen}}) 1px)" />
                    </div>

                  </div>
                </div>

              </div>
              <div class="as-producttile-info" style="min-height: 168px;">
                <div class="as-producttile-titlepricewraper" style="min-height: 128px;">
                  <div class="as-producttile-title">
                    <h3 class="as-producttile-name">
                      <p class="as-producttile-tilelink">
                        <span data-ase-truncate="2">{{nombre}}</span>
                      </p>

                    </h3>
                  </div>
                  <div class="as-price-currentprice as-producttile-currentprice">
                    {{precio}}
                  </div>
                </div>

                <a href="/detail/{{id}}" class="mercadopago-button" style="padding:4% 7%;">Comprar</a>

              </div>
            </div>
            {{/each}}

          </div>
          <div class="column large-12 small-12">
            <div class="as-pagination-align">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div role="alert" class="as-loader-text ally" aria-live="assertive"></div>
<div class="as-footnotes">
  <div class="as-footnotes-content">
    <div class="as-footnotes-sosumi">
      Todos los derechos reservados Tienda Tecno 2018
    </div>
  </div>
</div>

<script src="https://www.mercadopago.com/v2/security.js" view="{{view}}"></script>
<script src="assets/js/home.js"></script>